body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  margin: 0 auto;
  background: #fff;
}
.form-item {
  position: relative;
  margin-bottom: 15px;
}

.form-item input {
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  padding: 0 15px;
}

.form-item input:focus {
  border-color: blue;
}

.form-item label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all 0.3s ease;
}

.form-item input:focus + label,
.form-item input:valid + label {
  font-size: 11px;
  top: -5px;
}

.form-item input:focus + label {
  color: blue;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#balance,
#transaction-menu {
  display: none;
  max-width: 400px;
  margin: 2px auto;
}
